.backB{
    background-color: #f3f3f3;
    min-width: 300px;
    min-height:450px;
}
.emptycard{
    margin-top: 30%
    ;text-align: center;
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    font-size: 16pt;
    font-family: Arial, sans-serif;
}
.baskettext{
    text-align: center;
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    font-size: 16pt;
    font-family: Arial, sans-serif;

}
.detail{
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12pt;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  min-width: 300px;
  padding: 3%
  ;color: blue;
}